*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 100%);}
.container{
  margin: 20px 100px;
   justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    margin-right: 20px;
}
nav img:first-child{
    margin-left:auto;
    padding: 50px;
    }

   .profile{
    display: flex;
    margin-left: 150px;
    align-items: center;
    
   }
  .profile img {
    height: 30px;
    margin-left: 20px;
  }


.flexcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-basis: 50%;
      }
      
      .images .image1 {
        flex-basis: 110%;
        margin-bottom: 20px;
        width:20px;
        height: 300px;

      }
      
      .images img:not(.image1) {
        flex-basis: 23%;
        margin-bottom: 20px;
        width: 10px;
        height: 100px;
      }
    
  .price{
    display: flex;
    margin-top: 10px;
  align-items: first baseline;
  gap: 20px;
  }

  .words {
        margin-top: 20px;
        flex-basis: 40%;
        display: flex;
        align-items: flex-start;
      }
      .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
      }
      .content del{
        font-size: 12px;
      }
 .words h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: hsl(26, 100%, 55%)
  }
  
  .words h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px; 
    letter-spacing: 2px;
  }
  h2 span {
    display: inline-block;
    margin-right: 5px;
  }
  
  .words h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
  }
  
  .words h6 {
    font-size: 15px;
    font-weight: bold;
    color: hsl(26, 100%, 55%);
    background-color:  hsl(25, 100%, 94%) ;
  }
  .calculation {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: baseline;
    gap: 20px;
    
  }
  
  .cart {
    display: flex;
    flex-basis: 50%;
    margin-bottom: 20px;
    gap: 10px;
    background-color: hsl(26, 100%, 55%);
  }
  
  .calc {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: hsl(223, 64%, 98%) ;
  }
  
  .calc img {
    margin-right: 5px;
  }
 
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%);
     } 